﻿@{
    Layout = null;
    //ViewBag.Title = "Login";
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="error-pagewrap">
        <div class="error-page-int">
            <div class="text-center m-b-md custom-login">
                <h3>SILAKAN LOGIN UNTUK MASUK KE APLIKASI</h3>
                <p>aplikasi terbaik yang pernah ada dibumi</p>

            </div>
            <div class="content-error">
                <div class="hpanel">
                    <div class="panel-body">
                        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { id = "form-login" }))
                        {
                            <div class="form-group">
                                <label class="control-label" for="username">Username</label>
                                <input type="text" placeholder="example@gmail.com" title="Please enter you username" required="" value="" name="email" id="email" class="form-control">
                                <span class="help-block small">Your unique username to app</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password</label>
                                <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control">
                                <span class="help-block small">Yur strong password</span>
                            </div>
                            <div class="checkbox login-checkbox">
                                <label>
                                    <input type="checkbox" class="i-checks"> Ingat saya
                                </label>
                            </div>
                            <button id="btn-login" class="btn btn-info btn-block loginbtn">Login</button>
                        }
                    </div>
                </div>
            </div>
            <div class="text-center login-footer">
                <p>Copyright © 2019 .Net 221</p>
            </div>
        </div>
    </div>
</body>

</html>
<script>
    $("#btn-login").click(function () {
        //alert("Button Add call");
        var email = $("#email").val();
        var password = $("#password").val();
        $.ajax({

            url: '@Url.Action("Login", "Login")',
            method: 'post',
            dataType: 'json',
            data: { email: email, password: password },
            success: function (hasil) {
                if (hasil.message == "Gagal") {
                    alert("Gagal Login")
                    window.location.reload();
                }
            }
        });
    });
</script>
