﻿@model Model.Tokosidia.Customer
@{
    Layout = null;
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Customer", FormMethod.Post, new { id = "form-edit" }))
{
    @Html.HiddenFor(a => a.ID)
    <div class="form-group">
        <label>No Identitas</label>
        <input type="text" id="NO_INDENTITAS" class="form-control" name="NO_INDENTITAS" value="@Model.NO_INDENTITAS" />
    </div>
    <div class="form-group">
        <label>Nama</label>
        <input type="text" id="NAMA" class="form-control" name="NAMA" value="@Model.NAMA" />
    </div>
    <div class="form-group">
        <label>No Telepon</label>
        <input type="text" id="NO_TLP" class="form-control" name="NO_TLP" value="@Model.NO_TLP" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" id="EMAIL" class="form-control" name="EMAIL" value="@Model.EMAIL" />
    </div>
    <div class="form-group">
        <label>Alamat</label>
        <input type="text" id="ALAMAT" class="form-control" name="ALAMAT" value="@Model.ALAMAT" />
    </div>
    <div class="form-group">
        <label>Gender</label>
        <input type="text" id="GENDER" class="form-control" name="GENDER" value="@Model.GENDER" />
    </div>
    <div class="form-group">
        <label>Provinsi</label>
        @Html.DropDownList("KODE_PROVINSI", new SelectList(ViewBag.listProvinsi, "Kode_Provinsi", "Nama_Provinsi"), "---Pilih---", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Kota</label>
        @Html.DropDownList("KODE_KOTA", new SelectList(ViewBag.listKota, "kode_kota", "Nama_Kota"), "--Pilih--", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Kecamatan</label>
        @Html.DropDownList("KODE_KECAMATAN", new SelectList(ViewBag.listKecamatan, "Kode_Kecamatan", "Nama_Kecamatan"), "--Pilih--", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Kelurahan</label>
        @Html.DropDownList("KODE_KELURAHAN", new SelectList(ViewBag.listKelurahan, "Kode_Kelurahan", "Nama_Kelurahan"), "--Pilih--", new { @class = "form-control" })
    </div>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="submit" id="btn-add" class="btn btn-primary">Submit</button>
}

<script>
    $(function () {
        $("#form-edit").validate({
            errorClass: 'errors',
            rules: {
                NO_INDENTITAS: {
                    required: true
                },
                NAMA: {
                    required: true
                },
                NO_TLP: {
                    required: true,
                    number: true
                },
                EMAIL: {
                    required: true
                },
                ALAMAT: {
                    required: true
                }
            },
            messages: {
                NO_INDENTITAS: {
                    required: "Please enter your No Indentitas"
                },
                NAMA: {
                    required: "Please enter your nama"
                },
                NO_TLP: {
                    required: "Please enter your No Telpon",
                    number: "Please provide a numeric value"
                },
                EMAIL: {
                    required: "Please enter your Email"
                },
                ALAMAT: {
                    required: "Please enter your Alamat"
                }
            },

            submitHandler: function (form) {
                var dataForm = $(form).serialize();
                //debugger;
                $.ajax({
                    url: '/Customer/Edit',
                    data: dataForm,
                    method: 'post',
                    dataType: "json",
                    success: function (response) {
                        if (response.message == "Berhasil") {
                            alert(response.message);
                            window.location.reload();
                        }
                        else {
                            alert(response.message);
                        }
                    }
                });
            }
        });
    });
    $("#KODE_PROVINSI").change(function () {
        var kd_prov = $(this).val();

        $.ajax({
            url: '/Customer/getListKota',
            dataType: 'json',
            data: { Kode_Provinsi: kd_prov },
            success: function (hasil) {
                $("#KODE_KOTA").empty();
                $("#KODE_KOTA").append("<option value=''>---Pilih---</option>");
                $.each(hasil, function (index, hasil) {
                    $("#KODE_KOTA").append("<option value='" + hasil.Kode_Kota + "'>" + hasil.Nama_Kota + "</option>");
                })
            }
        })
    })
    $("#KODE_KOTA").change(function () {
        var kd_kota = $(this).val();

        $.ajax({
            url: '/Customer/getListKecamatan',
            dataType: 'json',
            data: { Kode_Kota: kd_kota },
            success: function (hasil) {
                $("#KODE_KECAMATAN").empty();
                $("#KODE_KECAMATAN").append("<option value=''>--Pilih Kecamatan--</option>");
                $.each(hasil, function (index, hasil) {
                    $("#KODE_KECAMATAN").append("<option value='" + hasil.Kode_Kecamatan + "'>" + hasil.Nama_Kecamatan + "<option>");
                })
            }
        })
    })

    $("#KODE_KECAMATAN").change(function () {
        var kd_kecamatan = $(this).val();

        $.ajax({
            url: '/Customer/getListKelurahan',
            dataType: 'json',
            data: { Kode_Kecamatan: kd_kecamatan },
            success: function (hasil) {
                $("#KODE_KELURAHAN").empty();
                $("#KODE_KELURAHAN").append("<option value=''>--Pilih Kelurahan--</option>");
                $.each(hasil, function (index, hasil) {
                    $("#KODE_KELURAHAN").append("<option value='" + hasil.Kode_Kelurahan + "'>" + hasil.Nama_Kelurahan + "</option>");
                })
            }
        })
    })
</script>

