﻿@model List<ViewModel.Tokosidia.VMCustomer>

@{
    ViewBag.Title = "Index";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #de8a8a;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #de8a8a;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<body>

    <h2>Index Customer</h2>

    <button id="id-btn-add" class="btn btn-primary">Add Data</button>
   
    <br><br>
    <table>
        <tr>

            <th>No Identitas</th>
            <th>Nama</th>
            <th>No Telpon</th>
            <th>Email</th>
            <th width="40%">Alamat</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>

        <tbody>
            @foreach (var item in Model)
                {
                <tr>
                    <td>@item.NO_INDENTITAS</td>
                    <td>@item.NAMA</td>
                    <td>@item.NO_TLP</td>
                    <td>@item.EMAIL</td>
                    <td>@item.ALAMAT, @item.NAMA_PROVINSI, @item.NAMA_KOTA, @item.NAMA_KECAMATAN, @item.NAMA_KELURAHAN</td>
                    <td>
                        @{if (@item.GENDER == 1)
                            {
                            <p>Perempuan</p>
                            }
                            else if (@item.GENDER == 2)
                            {
                                <p>Laki - Laki</p>
                            }
                            else
                            {
                                <p>-</p>
                            }

                        }
                    </td>
                    <td>
                        <button class="btn btn-warning cls-edit" id="id-btn-edit" idcustomer="@item.ID">Edit</button>
                        <button class="btn btn-danger cls-del" idcustomer="@item.ID">Delete</button>
                    </td>
                </tr>
                }
        </tbody>

    </table>

    <!-- Modal -->
    <div class="modal fade bd-example-modal-sm" id="id-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" id="id-header-mods">
                    <h5 class="modal-title" id="id-title-mods">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="id-body-mods">
                    ...
                </div>
                <div class="modal-footer" id="id-footer-mods">
                    @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete -->
    <div class="modal fade bd-example-modal-sm" id="id-modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" id="id-header-mods">
                    <h5 class="modal-title" id="id-title-mods-delete">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="id-body-delete">
                    ...
                </div>
                <div class="modal-footer" id="id-footer-delete">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="id-btn-delete">OK</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var id_ForDelete = "";
    $("#id-btn-add").click(function () {
        //alert("Button Add call");

        $.ajax({
            url: '@Url.Action("Create", "Customer")',
            method: 'get',
            success: function (hasil) {
                $("#id-title-mods").html("Create");
                $("#id-body-mods").html(hasil);
                $("#id-modal").modal("show");
            }
        });
    });

    $(".cls-edit").click(function () {
        var ID = $(this).attr('idcustomer');
        $.ajax({
            url: '@Url.Action("Edit", "Customer")',
            method: 'get',
            data: { id: ID },
            success: function (tampil) {
                $("#id-title-mods").html("Edit");
                $("#id-body-mods").html(tampil);
                $("#id-modal").modal("show");
            }
        });
    })

    $('#id-btn-delete').on('hidden.bs.modal', function () {
        id_ForDelete = "";
    });

    $(".cls-del").click(function () {
        //debugger;
        id_ForDelete = $(this).attr('idcustomer');
        $("#id-title-mods-delete").html("Delete");
        $("#id-body-delete").html("Hapus ?");
        $("#id-modal-delete").modal("show");

        $("#id-btn-delete").click(function () {
            $.ajax({
                url: '@Url.Action("Delete", "Customer")',
                method: 'post',
                data: { id: id_ForDelete },
                success: function (tampil) {
                    if (tampil.hasil == "berhasil") {
                        window.location.reload();
                    }
                }
            })
        })
    })

</script>
