﻿@{
    List<ViewModel.Tokosidia.VMMenu> ListMenu = new List<ViewModel.Tokosidia.VMMenu>();
    ListMenu = tokosidia.Controllers.LoginController.getMenuByRoleId();
}

<!-- Start Left menu area -->
<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
            <strong><a href="index.html"><img src="img/logo/logosn.png" alt="" /></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                        <a class="has-arrow" href="index.html">
                            <span class="educate-icon educate-home icon-wrap"></span>
                            <span class="mini-click-non">Education</span>
                        </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            @foreach (var item in ListMenu)
                            {
                                <li><a title="@item.Menu_Name v.1" href="@item.Menu_Url"><span class="mini-sub-pro">@item.Menu_Name</span></a></li>
                            }
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>
<!-- End Left menu area -->

