﻿@{
    Layout = null;
    ViewBag.Title = "Create";
}
<h2>Create</h2>

@using (Html.BeginForm("Create", "Barang", FormMethod.Post, new { id = "form-create", enctype = "multipart/form/data" }))
{

    <div class="form-group">
        <label>Kode Barang</label>
        <input type="text" id="Kode_Barang" class="form-control" name="Kode_Barang" />
    </div>
        <div class="form-group">
            <label>Nama Barang</label>
            <input type="text" id="Nama_Barang" class="form-control" name="Nama_Barang" />
        </div>
        <div class="form-group">
            <label>Harga</label>
            <input type="text" id="Harga" class="form-control" name="Harga" />
        </div>
        <div class="form-group">
            <label>Qty</label>
            <input type="text" id="Qty" class="form-control" name="Qty" />
        </div>
        <div class="form-group">
            <label>Images</label>
            <input type="file" id="file" class="form-control" name="file" multiple="multiple" />
        </div>
        <div class="form-group" id="img-show" style="display:none">
        </div>
        <input type="hidden" id="img" name="img" />
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" id="btn-add" class="btn btn-primary">Submit</button>
}

<script>
    var img_name = "";
    $("#file").change(function () {
        var fileData = new FormData();
        var files = $("#file").get(0).files;

        if (files.length > 0) {
            fileData.append("Images", files[0]);
        }
        $.ajax({
            url: '/Barang/Upload',
            data: fileData,
            method: 'post',
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function (response) {
                debugger;
                alert("Berhasil");
                var imag = "<img "
                + "src='" + "data:image/jpg;base64,"
                + response.path + "' style='width:40%; height:40%'/>";

                $("#img").val(response.upload.File_Name);

                $("#img-show").html(imag)
                $("#img-show").show();
            }
        })
    })
    $(function () {
        $("#form-create").validate({
            errorClass: 'errors',
            rules: {
                Kode_Barang: {
                    required: true,
                    minlength: 7,
                    maxlength: 7
                },
                Nama_Barang: {
                    required: true,
                },
                Harga: {
                    required: true,
                    number: true
                },
                Qty: {
                    required: true,
                    number: true
                }
            },
            messages: {
                Kode_Barang: {
                    required: "Please enter your kode barang",
                    minlength: "your kode barang must be at least 7 character",
                    maxlength: "your kode barang must be 7 character"
                },
                Nama_Barang: {
                    required: "Please enter your nama barang"
                },
                Harga: {
                    required: "Please enter your harga",
                    number: "Please provide a numeric value"
                },
                Qty: {
                    required: "Please enter your qty",
                    number: "Please provide a numeric value"
                }
            },

            submitHandler: function (form) {
                var dataForm = $(form).serialize();
                //debugger;
                $.ajax({
                    url: '/Barang/Create',
                    data: dataForm,
                    method: 'post',
                    //title: 'Judul',
                    dataType: "json",
                    success: function (response) {
                        if (response.message == "Berhasil") {
                            alert(response.message);
                            window.location.reload();
                        }
                        else {
                            alert(response.message);
                        }
                    }
                });
            }
        });
    });
</script>