﻿@model tokosidia.Models.M_tbl_Barang
@{
    Layout = null;
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm("Delete", "Barang", FormMethod.Post, new { id = "form-edit" }))
{
    @Html.HiddenFor(a => a.id_Barang)
<button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
<button type="submit" id="btn-add" class="btn btn-primary">Hapus</button>
}