﻿@model Model.Tokosidia.M_tbl_Barang
@{

    Layout = null;
    //ViewBag.Title = "Edit";
}
<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Barang", FormMethod.Post, new { id = "form-edit" }))
{
    @Html.HiddenFor(a=>a.id_Barang)
    <div class="form-group">
        <label>Kode Barang</label>
        <input type="text" id="Kode_Barang" class="form-control" value="@Model.Kode_Barang" name="Kode_Barang" />
    </div>
        <div class="form-group">
            <label>Nama Barang</label>
            <input type="text" id="Nama_Barang" class="form-control" value="@Model.Nama_Barang" name="Nama_Barang" />
        </div>
        <div class="form-group">
            <label>Harga</label>
            <input type="text" id="Harga" class="form-control" value="@Model.Harga" name="Harga" />
        </div>
        <div class="form-group">
            <label>Qty</label>
            <input type="text" id="Qty" class="form-control" value="@Model.Qty" name="Qty" />
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" id="btn-add" class="btn btn-primary">Submit</button>
}

<script>

    $(function () {
        $("#form-edit").validate({
            errorClass: 'errors',
            rules: {
                Kode_Barang: {
                    required: true,
                    minlength: 7,
                    maxlength: 7
                },
                Nama_Barang: {
                    required: true,
                },
                Harga: {
                    required: true,
                    number: true
                },
                Qty: {
                    required: true,
                    number: true
                }
            },
            messages: {
                Kode_Barang: {
                    required: "Please enter your kode barang",
                    minlength: "your kode barang must be at least 7 character",
                    maxlength: "your kode barang must be 7 character"
                },
                Nama_Barang: {
                    required: "Please enter your nama barang"
                },
                Harga: {
                    required: "Please enter your harga",
                    number: "Please provide a numeric value"
                },
                Qty: {
                    required: "Please enter your qty",
                    number: "Please provide a numeric value"
                }
            },

            submitHandler: function (form) {
                var dataForm = $(form).serialize();
                //debugger;
                $.ajax({
                    url: '/Barang/Edit',
                    data: dataForm,
                    method: 'post',
                    dataType: "json",
                    success: function (response) {
                        //alert(response.message);
                        if (response.message == "Berhasil") {
                            window.location.reload();
                        }
                        else {
                            alert(response.message);
                        }
                    }
                });
            }
        });
    });
</script>
