﻿
@model PagedList.IPagedList<Model.Tokosidia.M_tbl_Barang>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
}

<h2>WELCOME IN YOUR BARANG TOKOSIDIA</h2>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/main.js"></script>

@*@Html.ActionLink("Add", "Create", "Barang");*@
@*<a href="@Url.Action("Create", "Barang")" class="btn btn-primary" >Add</a>*@

<button id="id-btn-add" class="btn btn-primary">Add</button>
<br>


@using (Html.BeginForm("Index", "Barang", FormMethod.Get, new {id= "form-barang" }))
{
    <input type="text" name="searchString" id="searchString" value="@ViewBag.currentFilter"/>
    <button value="Search" type="submit">Search</button>
    <button value="Reset" type="reset" id="id-reset">Reset</button>
}
<table>
    <tr>
        <th>Kode Barang</th>
        <th>
            @Html.ActionLink("Nama Barang", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>Harga</th>
        <th>Qty</th>
        <th>Action</th>
    </tr>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Kode_Barang</td>
                <td>@item.Nama_Barang</td>
                <td>@item.Harga</td>
                <td>@item.Qty</td>
                <td>
                    <button class="btn btn-warning cls-edit" id="id-btn-edit" idBarang="@item.id_Barang">Edit</button>
                    <button class="btn btn-danger cls-del" idBarang="@item.id_Barang">Delete</button>
                </td>
            </tr>
        }
    </tbody>

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))
@*new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="id-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="id-header-mods">
                <h5 class="modal-title" id="id-title-mods">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body-mods">
                ...
            </div>
            <div class="modal-footer" id="id-footer-mods">
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade bd-example-modal-sm" id="id-modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="id-header-mods">
                <h5 class="modal-title" id="id-title-mods-delete">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body-delete">
                ...
            </div>
            <div class="modal-footer" id="id-footer-delete">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="id-btn-delete">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
    var id_ForDelete = "";
    //Jquery
    $("#id-btn-add").click(function () {
        //alert("Button Add call");

        $.ajax({
            url: '@Url.Action("Create", "Barang")',
            method: 'get',
            success: function (hasil) {
                $("#id-title-mods").html("Create");
                $("#id-body-mods").html(hasil);
                $("#id-modal").modal("show");
            }
        });

    });
    $(".cls-edit").click(function () {
        var id_barang = $(this).attr('idBarang');
        //debugger;
        $.ajax({
            url: '@Url.Action("Edit", "Barang")',
            method: 'get',
            data: { id: id_barang },
            success: function (tampil) {
                //debugger;
                $("#id-title-mods").html("Edit");
                $("#id-body-mods").html(tampil);
                $("#id-modal").modal("show");
            }
        });
    })

    $('#id-btn-delete').on('hidden.bs.modal', function () {
        id_ForDelete = "";
    });

    $(".cls-del").click(function () {
        //debugger;
        id_ForDelete = $(this).attr('idBarang');
        $("#id-title-mods-delete").html("Delete");
        $("#id-body-delete").html("Hapus ?");
        $("#id-modal-delete").modal("show");

        $("#id-btn-delete").click(function () {
            $.ajax({
                url: '@Url.Action("Delete", "Barang")',
                method: 'post',
                data: { id: id_ForDelete},
                success: function (tampil) {
                    if (tampil.hasil == "berhasil") {
                        window.location.reload();
                    }
                }
            })
        })
    })

    $("#id-reset").click(function () {
        $("#searchString").val('');
        $("#form-barang").submit();
    })
</script>