﻿@model Model.Tokosidia.M_tbl_Barang
@{

    Layout = null;
    //ViewBag.Title = "Edit";
}
<h2>Details Barang</h2>
@using (Html.BeginForm("Buy", "Catalog", FormMethod.Post, new { id = "form-transaksi" }))
{
    <div class="row">
        <div class="col-lg-6">
            <img src="../Images/@Model.img" alt="" height="300px" width="300px" />
        </div>
        <div class="col-lg-6">
            <label>Kode Barang: @Model.Kode_Barang</label><br />
            <label>Nama Barang: @Model.Nama_Barang</label><br />
            <label>Harga: Rp. @Model.Harga</label><br />
            <input type="hidden" name="hargaBarang" id="hargaBarang" value="@Model.Harga" />
            <label>Qty Barang: @Model.Qty</label><br /><br /><br /><br />
            <input type="number" id="Quantity" name="Quantity" />
            <input type="hidden" id="Qty" name="Qty" value="@Model.Qty" />
            <br />
            @Html.ValidationMessageFor(model=>model.Qty , "" , new  {@class = "text-danger" })
            <span style="color:red;display:none" id="validateQty">Pembelian Melebihi Quantity</span>
            <br />
            <button type="submit" id="id-transaksi" value="buy">Buy</button>


            <br><br />
        </div>
    </div>
    <br /><br />
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

}

<script>
    $("#id-transaksi").click(function () {
        var qty = $("#Quantity").val();
                var qtyBarang = $("#Qty").val();
                if (parseInt(qty) > parseInt(qtyBarang)) {
                    $("#validateQty").show();

                    return false;
                }
                else {
                    $("#validateQty").hide();
                }
     })

    $("#id-trnsaksi").click(function () {
        var dataForm = $("#id-transaksi").serialize();
        //alert("Button Add call");
        debugger;
        $.ajax({
            url: '/Catalog/Buy',
            data: dataForm,
            method: 'post',
            success: function (response) {
                if (response.message == "Berhasil") {
                    alert(response.message);
                    window.location.reload();
                }
                else {
                    alert(response.message);
                }
            }
        });
    });


</script>
