﻿@model List<Model.Tokosidia.M_tbl_Barang>

<div class="contacts-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="student-inner-std res-mg-b-30">
                        <div class="student-img">
                            <img src="../Images/@item.img" alt="" />
                        </div>
                        <div class="student-dtl">
                            <h2>@item.Nama_Barang</h2>
                            <p class="dp">Harga: Rp. @item.Harga</p>
                            <br>
                            <button class="btn btn-warning cls-details" id="id-btn-details" idbarang="@item.id_Barang">Details</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="id-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="id-header-mods">
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body-mods">
                ...
            </div>
            <div class="modal-footer" id="id-footer-mods">
            </div>
        </div>
    </div>
</div>

<script>
    $(".cls-details").click(function () {
        var id_barang = $(this).attr('idBarang');
        //debugger;
        $.ajax({
            url: '@Url.Action("Details", "Catalog")',
            method: 'get',
            data: { id: id_barang },
            success: function (tampil) {
                //debugger;
                //$("#id-title-mods").html("Details");
                $("#id-body-mods").html(tampil);
                $("#id-modal").modal("show");
            }
        });
    })
</script>
