﻿@model List<ViewModel.Tokosidia.VMTransaksi>

@{
    ViewBag.Title = "Index";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<h2>Customer's Cart</h2>


<br><br>
<table>
    <tr>

        <th>Kode Transaksi</th>
        <th>Nama Barang</th>
        <th>Jumlah</th>
        <th>Harga</th>
    </tr>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Kode_Transaksi</td>
                <td>@item.Nama_Barang</td>
                <td>@item.Quantity</td>
                <td>@item.Harga</td>
            </tr>
        }
        <tr>
            <td>
                @ViewBag.totalBelanja
            </td>
        </tr>
        <tr>
            <td>
                <button id="id-btn-check-out" class="btn btn-primary">Check Out</button>
            </td>
        </tr>
    </tbody>

</table>
<script>
    $("#id-btn-check-out").click(function () {
        alert("Fungsinya Belum Dibuat");
    })
</script>
